h2{
    color: #676767;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
	overflow:hidden;
}
.today_is{
    color: #c31b1b;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}
.date_today{
    color: #484848;
    overflow: hidden;
	
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}